{% include header.html %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-3">Bell & Howell</h1>
              <p>{{ site.description }}</p>
            </div>
            <div class="col">
              <img src="img/mail-sorting-equipment-replacement-parts.jpg" alt="Mail sorting equipment replacement parts" class="img-fluid rounded">
            </div>
          </div>
          
        </div>
      </div>

      <div class="container">
        <div class="row mb-4">
          <div class="col-md-4">
            <p>We are suppliers of Replacement Parts for popular mailing equipment:</p>
            <ul class="list-group">
              <li class="list-group-item">Pitney Bowes</li>
              <li class="list-group-item">NPI </li>
              <li class="list-group-item">Bell &amp; Howell</li>
              <li class="list-group-item">GBR </li>
              <li class="list-group-item">Data Card </li>
              <li class="list-group-item">Siemens </li>
            </ul>
          </div>
          <div class="col-md-8">
            <img src="img/Pitney-Bowes-Mail-Sorting-Machines_Small.jpg" alt="Pitney Bowes Sorting Machines Small" class="img-fluid">
            <p>We have been making quality replacement parts for the mail processing industry for 25 years. We offer rollers, belts, and tires for popular mailing equipment including Pitney Bowes, NPI, Bell & Howell, GBR, Siemens and Data Card. We invite you to browse our site and see the parts we currently have to offer. We have many more mailing equipment replacement parts that we are currently developing so if you do not see what you are looking for please contact us, we'd like to hear from you and help you with your replacement parts needs.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <p>Better pricing DIRECT from the Manufacturer of Inserts, Sorters, Folders, and Sealers. </p>
          </div>
        </div>
          <div class="card-deck mb-4">
            <div class="card">
              <img src="img/Mailing-Equipment-Replacement-Wheels-461-346.jpg" class="card-img-top" alt="Flowmaster urethane NIP Rollers">
              <div class="card-body">
                <h5 class="card-title">Mailing Equipment Replacement Wheels</h5>
                <p class="card-text">This is the mailing equipment replacement wheels.</p>
                <p><a class="btn btn-secondary" href="pitney-bowes" role="button">View details &raquo;</a></p>
              </div>
            </div>
            <div class="card">
              <img src="img/flowmaster_urethane_NIP_rollers_258_194.jpg" class="card-img-top" alt="Flowmaster urethane NIP Rollers">
              <div class="card-body">
                <h5 class="card-title">Flowmaster Urethane NIP Rollers</h5>
                <p class="card-text">This is the Flowmaster urethane NIP rollers.</p>
                <p><a class="btn btn-secondary" href="pitney-bowes" role="button">View details &raquo;</a></p>
              </div>
            </div>
            <div class="card">
              <img src="img/Mailing-Equipment-Replacement-Belts-461-346.jpg" class="card-img-top" alt="Flowmaster urethane NIP Rollers">
              <div class="card-body">
                <h5 class="card-title">Mail Sorting Equipment Replacement Feed Belts</h5>
                <p class="card-text">This is the mail sorting equipment replacement feed belts.</p>
                <p><a class="btn btn-secondary" href="pitney-bowes" role="button">View details &raquo;</a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
             <p>Some Models that we make parts for include: FLOWMASTER, APEX, MPS, OLYMPUS I AND II</p>
            </div>
          </div>
         

        <hr>

      </div> <!-- /container -->

    </main>

    {% include footer.html %}
