{% include header.html %}

    <main role="main">
       <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-5">{{ page.title }}</h1>
              <p>{{ page.description }}</p>
            </div>
            <div class="col">
              <img src="img/mail-sorting-equipment-replacement-parts.jpg" alt="Mail sorting equipment replacement parts" class="img-fluid rounded">
            </div>
          </div>

        </div>
      </div>
      {{ content }}

    </main>

    {% include footer.html %}
